{
  "parser": "babel-eslint",
  "extends": [ "semistandard", "eslint:recommended" ],
  "rules": {
    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }]
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
