$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
//@import '~font-awesome/scss/_variables.scss';
//$fa-font-path: "~font-awesome/fonts/";
//@import '~font-awesome/scss/font-awesome.scss';

/* Your styles here */
html, head, body { margin: 0; padding: 0 }

#loading_flickr_container {
  position: absolute;
  right: 25px;
  top: 0px;
  height: 50px;
}

.carousel-inner {
  height: 50%;
  width: 50%;
}

.line-scale > div {
  background: orange;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
