<div id="flickr_photo_{{elm.id}}" class="item">
  <div>
    <img class="flikr_img" src="{{elm.url_z}}" style="width: 100%" alt="cat picture">
  </div>
  <div id="flickr_footer" style="text-align: center">
    <a target="_blank" href="{{elm.photo_info_url}}"><img src="http://l.yimg.com/g/images/goodies/white-flickr.png" alt="flickr logo" /></a>
  </div>
</div>
