"<a href="{{ photo_link }}" class="photo_title">{{ title }}</a>"
by
<a href="{{ author_link }}" class="photo_author">{{ author }}</a>
is licensed under 
<a href="{{ license_url }}" class="photo_license">{{ license_name }}</a>
